<% if current_user %>

<p>Welcome, <%= current_user.login %>!</p>

<%= link_to "Update recommendations?", user_path(current_user), method: :put %>

<div id = "recommendations">
  <h2>Recommendations</h2>
  <% recs = current_user.recommendations.where(hidden: false).sort_by { |r| r.score }.reverse! %>
  <% recs.each do |r| %>
    <% if r.score > 1 %>
      <div class="recommendation">
        <h3><a href="https://github.com/<%= r.name %>"><%= r.name %></a>: <%= r.score %></h3>
        <p><%= r.description %></p>
        <%= button_to "not interested", recommendation_path(r.id), method: :delete, class: "not-interested", remote: true %>
      </div>
    <% else %>
      <div class = "no-recommendations">
        <h3>:(</h3>
        <p>You don't have any recommendations! Try following a few more people on <%= link_to "GitHub", "https://github.com" %>.</p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Sign Out", signout_path %>

<% end %>
