<h1>Behold!</h1>

<% if current_user %>
  <p>Welcome <%= current_user.login %>!</p>
<% end %>

<%= link_to "Refresh?", user_path(current_user), method: :put %>

<h2>Recommendations:</h2>
<ul>
<% recs = current_user.recommendations.sort_by { |r| r.score }.reverse! %>
<% recs.each do |r| %>
  <% if r.score > 1 %>
    <li><a href="https://github.com/<%= r.name %>"><%= r.name %></a>: <%= r.score %></li>
  <% end %>
<% end %>
</ul>

<% if current_user %>
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to 'Someone else?', controller: 'users', action: 'new' %>
<% end %>
